/***********************Addaptation smartphone*****************************/

.font{
    background-image: url("../resources/fontBoucheneb.gif");
    background-size:cover;
    background-position: center; 
    padding-top: 180px;


}
    

.image{
    width: 300px;
    margin: 20px;
}


span{
    display: flex;
}

.acceuil{
    justify-content: space-between;

}

.noms{
    color: white;
    font-size: 4.5rem;
    font-family: 'Playfair Display', serif;
    margin: 0px 0px 0px 10px;

    
}



.domain{
    color: white;
    font-size: 3.5rem;
    font-family: 'Playfair Display', serif;
    margin: 15px 0px 15px 20px;
    padding: 0px;
}
.domaine1{
    color: white;
    font-size: 3.5rem;
    margin: 0px 0px 0px 40px;
}

.presentation {
    color: white;
    font-size: 2.5rem;

}


.togler{
    margin: 20px 30px 0px 20px;
}





.imageCV{
    width: 30px;
    margin-left: 0px;

}
.email{
    color: white;
    margin-left: 50px;


}
.contact{
    display: flex;
    margin: 30px ;

}



/***********************Addaptation pc*****************************/
@media screen and (min-width: 940px) {

    .font{
    background-image: url("../resources/fontBoucheneb.gif");
    background-size:cover;
    background-position: center; 
    padding: 55px; 
 
}
span{
    
    display: flex;
    justify-content: space-between;
}

.acceuil{
    
    display: flex;
}

.image{
    width: 495px;
    margin: auto;

}




h2{
    color: white;
    font-size: 50px;
    text-align:center ;
}






.noms{
    font-size: 4.5rem;
    font-family: 'Playfair Display', serif;
    margin: 100px 50px 0px 0px;
    padding: 0px;
}


.domain{
    font-size: 3.5rem;
    font-family: 'Playfair Display', serif;
    margin: 20px 120px;
    padding: 0px;
}
.domaine1{
    color: white;
    font-size: 3.5rem;
    margin: 20px 200px;
}

.presentation {
    color: white;
    font-size: 2.5rem;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px 30px;
    
}


div section{
   background-color: black;
    display:table-cell;
}



.nom{
    display: flex;
}
.imageCV{
    width: 70px;
    margin-left: 120px;

}
.email{
    color: white;
    margin-left: 130px;
    margin-top: 20px;


}
.contact{
    display: flex;
    margin: 30px ;

}

}
