.font{
    background-color:#D5D8DC;
    display:flex;
    background-size: cover;
    padding-bottom: 145px; 

}
.titre{
    color: maroon;
        text-align:center ;
        padding: 10px;
        font-size: 2.5rem;
    
    }
.desc{
    color:black;
    font-size: 1.5rem;
    margin: 20px 30px;

}




/***********************Addaptation pc*****************************/
@media screen and (min-width: 940px) {

    .titre{
        color: maroon;
            text-align:center ;
            padding: 10px;
            font-size: 4.5rem;
        
        }
    .desc{
        font-size: 2.5rem;
        margin: 20px;

    }

}