.inverser {
    transform: rotate(180deg);
}

.presentation {
    color: white;
    font-size: 2.5rem;
    margin: 20px 0px 45px 20px;
}

@media screen and (min-width: 940px) {

    .presentation {
        font-size: 2rem;
        margin: 63px 30px;
    }
    
}