header{
    background-color: black;


}
.titre{
    color: maroon;
        text-align:center ;
        padding: 10px;
        font-size: 2.5rem;
    
    }
.imagelogo{
    height: 30px;
    margin-top: 30px;
}

.menu{
    display: flex;
   
}

.gauche{
    display: flex;
}


.image{
    width: 40px;
    margin-top: 25px;
}

@media screen and (min-width: 940px) {

    header{
        background-color: black;
    }
    
    .imagelogo{
        height: 70px;
        margin: 20px 0px 0px 0px;
    }
    
    .menu{
        display: flex;
        justify-content: space-between;
        margin: 0px;
        
    }
    
    .gauche{
        display: flex;
        justify-content: space-between;
        
    }

    
    
    .image{
        width: 80px;
        padding-right: 50px;
        margin: 15px 0px 0px 0px;
    }
}
