
.list {
    color: aliceblue;

    display: flex;
    list-style-type: none;
    padding: auto;
    padding: 25px 20px;


}



.pages {
    color: aliceblue;
}


button {
    color: aliceblue;
        font-size: 20px;
        border: none;
        background-color: black;
        text-decoration:none;
        cursor: pointer;
}




    


@media screen and (min-width: 940px) {

    .list {
        background-color: black;
        display: flex;
        list-style-type: none;
        margin: 0rem;
        padding: 25px 0px;
    
    }
    
 
    
    .pages {
        font-size: 2.5rem;
        margin: 5px;
        padding:10px;
    }

    
    
    button {
        color: aliceblue;

        font-size: 2.5rem;
        border: none;
        background-color: black;
        text-decoration:none;
        cursor: pointer;
    }

    button:hover {
        color: black;
        font-size: 2.5rem;
        border: none;
        background-color: white;
        text-decoration:none;
        cursor: pointer;
}
    
}